* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #d9dbda;
}

a:visited {
    color: white;
}

.background {
    background-color: #882020;
    height: 100%;
}

.header-background {
    background-color: #1a1e24;
    position: sticky;
    width: 100%;
    top: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

.header {
    background-color: #1a1e24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    display: flex;
    color: #d9dbda;
    font-weight: 700;
    align-items: center;
    padding: 10px 10px;
}

.lara-logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.actions .header-link {
    margin-right: 20px;
}

.actions .header-link:last-child {
    margin-right: 0;
}

.page-content {
    min-height: calc(100vh - 154px);
}

.main-content {
    margin-top: 40px;
    color: white;
}

.main-title {
    text-align: center;
}

.posts {
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px 0;
}

.post-card {
    background-color: #a22e2e;
    width: 500px;
    min-height: 400px;
    height: auto;
    padding: 10px;
    box-shadow: 0px 15px 15px black;
    border-radius: 5%;
    margin-bottom: 20px;
}

.post-card img {
    width: 100%;
    border-radius: 5%;
}

.post-card h3 {
    font-size: 26px;
    font-weight: 700;
}

.post-title-attributes {
    padding: 10px;
    word-wrap: break-word;
}

.post-title-attributes h3, p {
    padding: 5px;
}

.white-link {
    color: white;
}

.post-attributes {
    display: flex;
    justify-content: space-between;
    color: white;
}

.footer-background {
    background-color: #1a1e24;
    color: white;
    font-weight: 300;
    height: 44px;
    align-items: center;
}

.footer {
    height: 100%;
    display: flex;
    align-items: center;
}

.actions .router-link-active {
    background-color: #a22e2e;
    padding: 5px 13px;
    border-radius: 5px;
}

@media screen and (max-width: 576px) {
    .actions .header-link {
        font-size: 16px;
        margin-right: 10px;
    }

    .actions .header-link:last-child {
        margin-right: 0px;
    }

    .lara-logo {
        width: 40px;
        margin-right: 5px;
    }

    .header {
        height: 90px;
    }
}

.success-message {
    background-color: #ffffff;
    color: #539f53;
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 16px;
    max-width: 180px;
    flex-wrap: wrap;
    text-align: center;
}

.edit-button {
    background-color: green;
    color: white;
    padding: 6px 16px;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 10px;
}

.delete-button {
    background-color: red;
    color: white;
    padding: 6px 16px;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 10px;
}
